<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/site.css">
    <title>Welkom bij VIVES</title>
</head>

<body>
    <nav class="container">
        <a href="/"><img src="/images/logo.png"></a>
        <ul class="menu menu-right">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/opleidingen">Opleidingen</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>

    {{{body}}}

    <footer>
        <div class="container">
            <div class="row">
                <h3>We love footers...</h3>
            </div>
        </div>
    </footer>
</body>

</html>